# BACK END

/back-end/HELP.md
/back-end/.gradle
/back-end/build/
/back-end/!gradle/wrapper/gradle-wrapper.jar
/back-end/!**/src/main/**/build/
/back-end/!**/src/test/**/build/

### STS ###
/back-end/.apt_generated
/back-end/.classpath
/back-end/.factorypath
/back-end/.project
/back-end/.settings
/back-end/.springBeans
/back-end/.sts4-cache
/back-end/bin/
/back-end/!**/src/main/**/bin/
/back-end/!**/src/test/**/bin/

### IntelliJ IDEA ###
/back-end/.idea
/back-end/*.iws
/back-end/*.iml
/back-end/*.ipr
/back-end/out/
/back-end/!**/src/main/**/out/
/back-end/!**/src/test/**/out/

### NetBeans ###
/back-end/nbproject/private/
/back-end/nbbuild/
/back-end/dist/
/back-end/nbdist/
/back-end/.nb-gradle/

### VS Code ###
/back-end/.vscode/


# FRONT END

# dependencies
/front-end/node_modules
/front-end/.pnp
/front-end/.pnp.js

# testing
/front-end/coverage

# next.js
/front-end/.next/
/front-end/out/

# production
/front-end/build

# misc
/front-end/.DS_Store
/front-end/*.pem

# debug
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

# local env files
/front-end/.env*.local

# vercel
/front-end/.vercel

# typescript
/front-end/*.tsbuildinfo
/front-end/next-env.d.ts
